.form-group {
    padding-top: 8px;
    padding-right: 5px;
}

#navbar {
    padding-top: 9px;
}

.navbar-btn {
    margin-left: 7px;
}

a.navbar-brand {
    padding-right: 50px;
    font-size: 23px;
}


#copy {
    color: grey;
    float: right;
 
}

body {
    
    padding-top:70px;
    background-color: white;
}

h3 {
    color: white;
}



